.top-row {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -9px;
}

.add-prescription-button-dashboard {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.second-row {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
}

.dashboard-page hr {
    margin-top: -10px;
    border-top: 2px solid black;
}

.pending-medications {
    background-color: lightgray;
    height: 70px;
}